<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-36</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        Couleur
        <select v-model="couleur">
            <option value="black" selected>Noir</option>
            <option value="red" selected>Rouge</option>
            <option value="green" selected>Vert</option>
            <option value="blue" selected>Bleu</option>
        </select>

        Taille
        <select v-model="taille">
            <option value="16px" selected>16 px</option>
            <option value="25px" selected>25 px</option>
            <option value="40px" selected>40 px</option>
            <option value="60px" selected>60 px</option>
        </select>

        <p :style="{color:couleur, fontSize:taille}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet ipsum augue. Nulla facilisi. In placerat malesuada ante, non ullamcorper ligula cursus sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce consectetur purus a risus aliquet venenatis. Nunc sed varius quam. Sed congue luctus est at varius.
        </p>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    couleur:'black',
                    taille:'16px'
                }
            }
        });
        app.mount('#app');
    </script>
</body>

</html>